@charset "UTF-8";
/*RESET================================*/
*, *::before, *::after{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}
body{ font-family: Arial, Helvetica, sans-serif; font-size: inherit;}
a{color: inherit; text-decoration: none;}
ol ul{list-style: none;}
p{text-align: justify;}
input, textarea, iframe, select, button{border: none; font-family: Arial, Helvetica, sans-serif}
h1, h2, h3{ margin: 0; padding: 0;}

/* START CABECALHO */
.cabecalho{float: left; width:100%; background: rgb(32, 31, 31); color: white; text-shadow: 1px 1px 2px lightcyan;}
.cabecalho .logo{ float: left; padding: 2%;}
.cabecalho .logo h3{font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
.btn-bar-menu{float: right;padding: 2%;}
.menu{float: left; width:100%; height: 100%;background: rgba(0, 0, 0, .9); position: fixed; }
.menu ul{margin:auto; list-style: none; width:100%; float: left;}
.menu li{color: white; font-size: 20pt; text-align: center; padding:8%;}
.menu li a:hover{color: tomato;}
.btn-close{float: right;padding: 2%;}
/* BANNER */
.banner{font-family: Arial, Helvetica, sans-serif; float: left; width: 100%;  padding: 2% 4%; background: url("../_image/banner-floresta.png")no-repeat; background-size: cover; }
.texto{margin-bottom:  5%; margin-top: 4%; color: white; float: left; width: 100%; text-align: center;}
.texto p{font-weight: 100;}
.texto h1{text-shadow: 1px 1px 2px white;}

.icons-banner{float: left; width:100%;padding: 2%;}
.icons-banner .icon{ margin-bottom: 6%; font-weight: 700; color: white; float: left; width: 33.3333%; text-align: center;text-shadow: 1px 1px 2px black;}
.icons-banner .icon img{width: 55%;}
.icons-banner .icon a:hover img{ opacity: 1;}
.icons-banner .icon a:hover{color: white;}
.icons-banner .icon a{text-decoration: none;}

/* ARTIGO 01 */
.atigo-01{padding:4% 2%; float: left; width: 100%; color:white; background: #252627; }
.atigo-01 h1{text-shadow: 1px 1px 1px black;}

/* OFERTAS */
.titulo-ofertas{width:100%; text-align:center; padding: 10% 4%; float: left;}
.titulo-ofertas h4{text-shadow: 1px 1px 3px grey; border-bottom: 1px solid #32CD32; padding: 3%;}

.ofertas{width:100%; padding: 5% 7%; float: left; text-align: center;}
.ofertas h4{border-bottom: 1px solid gray; margin-bottom: 8%;}
.ofertas  h4, p{text-shadow: 1px 1px 1px grey;}
.ofertas .oferta{width: 100%; padding: 3% 5%; text-align: center; box-shadow: 0 0 5px black; margin-bottom: 7%;}

/* CHAMADA PARA AÇÃO */
.chamada-para-acao{text-align: center; width: 100%; float: left; background: rgba(84, 255, 158, 0.137); padding: 20% 4%}
.chamada-para-acao .btn-acao{width: 100%; float: left; padding: 5%;}
.chamada-para-acao button{width:100%; padding: 15px; background: rgba(0, 139, 0, 0.671); color:white; border-radius: 8px; font-weight: 600; font-size: 1.5em;}

/* ARTIGO 02 */
.artigo-02{width: 100%; float:right; text-align: right; padding: 10% 2%;}
.artigo-02 h1{text-shadow: 1px 1px 2px black;}

/* FOOTER */
.footer ul{float: left; width: 100%; list-style: none; text-align: center; padding: 2% 4%}
.footer{float: left; width: 100%; padding: 20% 0%; background:#424B54; color:white; text-align: center;}
.footer .menu-footer{float: left; width:100%;}
.footer .menu-footer li{padding: 5%}
.mapa{float: left; width:100%;}
.mapa .map{width: 100%; float: left;}
.footer .icon-sociais{text-align: center; width:100%; float: left;}
.icon-sociais ul li{display: inline-block; margin-top: 20%; padding: 3%;}

.footer p{text-align: center; font-size:15px;}