@charset "UTF-8";
/*RESET================================*/
*, *::before, *::after{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}
body{ font-family: Arial, Helvetica, sans-serif; font-size: inherit;}
a{color: inherit; text-decoration: none;}
ol ul{list-style: none;}
p{text-align: justify;}
input, textarea, iframe, select, button{border: none; font-family: Arial, Helvetica, sans-serif}
h1, h2, h3{ margin: 0; padding: 0;}

/* START CABECALHO */
.cabecalho{float: left; width:100%; background: rgb(32, 31, 31); color: white; text-shadow: 1px 1px 2px lightcyan;}
.cabecalho .logo{ float: left; padding: 2%;}
.cabecalho .logo h3{font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
.btn-bar-menu{float: right;padding: 2%;}
.menu{float: left; width:100%; height: 100%;background: rgba(0, 0, 0, .9); position: fixed; }
.menu ul{margin:auto; list-style: none; width:100%; float: left;}
.menu li{color: white; font-size: 20pt; text-align: center; padding:8%;}
.menu li a:hover{color: tomato;}
.btn-close{float: right;padding: 2%;}
/* BANNER */
.banner{font-family: Arial, Helvetica, sans-serif; float: left; width: 100%;  padding: 2% 4%; background: url("../_image/banner-floresta.png")no-repeat; background-size: cover; }
.texto{margin-bottom:  5%; margin-top: 4%; color: white; float: left; width: 100%; text-align: center;}
.texto p{font-weight: 100;}
.texto h1{text-shadow: 1px 1px 2px white;}

.icons-banner{float: left; width:100%;padding: 2%;}
.icons-banner .icon{ margin-bottom: 6%; font-weight: 700; color: white; float: left; width: 33.3333%; text-align: center;text-shadow: 1px 1px 2px black;}
.icons-banner .icon img{width: 55%;}
.icons-banner .icon a:hover img{ opacity: 1;}
.icons-banner .icon a:hover{color: white;}
.icons-banner .icon a{text-decoration: none;}

/* ARTIGO 01 */
.atigo-01{padding:4% 2%; float: left; width: 100%; color:white; background: #252627; }
.atigo-01 h1{text-shadow: 1px 1px 1px black;}

/* OFERTAS */
.titulo-ofertas{width:100%; text-align:center; padding: 10% 4%; float: left;}
.titulo-ofertas h4{text-shadow: 1px 1px 3px grey; border-bottom: 1px solid #32CD32; padding: 3%; font-size: 2em;}

.ofertas{width:100%; padding: 5% 7%; float: left; text-align: center;}
.ofertas h4{border-bottom: 1px solid gray; margin-bottom: 8%;}
.ofertas  h4, p{text-shadow: 1px 1px 1px grey;}
.ofertas .oferta{width: 100%; padding: 3% 5%; text-align: center; box-shadow: 0 0 5px black; margin-bottom: 7%;}

/* CHAMADA PARA AÇÃO */
.chamada-para-acao{text-align: center; width: 100%; float: left; background: rgba(84, 255, 158, 0.137); padding: 20% 4%}
.chamada-para-acao .btn-acao{width: 100%; float: left; padding: 5%;}
.chamada-para-acao button{width:100%; padding: 15px; background: rgba(0, 139, 0, 0.671); color:white; border-radius: 8px; font-weight: 600; font-size: 1.5em;}

/* ARTIGO 02 */
.artigo-02{width: 100%; float:right; text-align: right; padding: 10% 2%;}
.artigo-02 h1{text-shadow: 1px 1px 2px black;}

/* FOOTER */
.footer ul{float: left; width: 100%; list-style: none; text-align: center; padding: 2% 4%}
.footer{float: left; width: 100%; padding: 15% 0 0 0; background:#424B54; color:white; text-align: center;}
.footer .menu-footer{float: left; width:100%;}
.footer .menu-footer li{padding: 5%}
.mapa{float: left; width:100%;}
.mapa .map{width: 100%; float: left;}
.icon-sociais{text-align: center; width:100%; float: left; background: #252627; color: white;}
.icon-sociais p{text-align: center;}
.icon-sociais ul li{display: inline-block; margin-top: 20%; padding: 3%;}

.footer p{text-align: center; font-size:15px;}


/* START BREAK POINT */
@media (min-width:768px){
    /* CABECALHO */
    .cabecalho .btn-bar-menu{display: none;}
    .menu {background: rgb(32, 31, 31); width:50%; float: right;display: block !important;  position: static; text-align: right;}
    .menu ul{width: 100%; }
    .menu li{display: inline-block; font-size: 1.0em; padding: 5% 4%; }
    .menu .btn-close{display: none;}

    /* BANNER */
    .icons-banner{float: left; width:100%;padding: 2%;}
    .icons-banner .icon{ margin-bottom: 6%; font-weight: 700; color: white; float: left; width: 33.3333%; text-align: center;text-shadow: 1px 1px 2px black;}
    .icons-banner .icon img{width: 30%;}
    .icons-banner .icon a:hover{color: white;}
    .icons-banner .icon a{text-decoration: none;}

    /* OFERTAS */
    
    .ofertas .oferta{width: 46%; float: left; margin-right: 4%}
    .ofertas .segunda{float: right; margin-right: 0;}
    .ofertas .quarta{float: right; margin-right: 0;}
    
       
}

/* START POINT BREAK */
@media (min-width:890px){
    /* padding de todos as divs pais em sequencia */
    .cabecalho{padding: 0% 10%;}
    .banner{padding: 4% 10%;}
    .atigo-01{padding: 4% 10%;}
    .titulo-ofertas{padding: 8% 10%;}
    .ofertas{padding: 5% 10%;}
    .chamada-para-acao{padding: 5% 10%;}
    .artigo-02{padding: 4% 10%;}

    

    /* footer */
    .footer{padding: 5% 5%;}
    .footer h3{margin-bottom: 10%; font-size: 2.5em;}
    .footer .menu-footer{width: 35%;  font-size: 1.5em;}
    .footer .menu-footer li{padding: 8%;}
    .footer .mapa{width:65%;}
    
    .icon-sociais ul li{display: inline-block; margin-top: 4%; padding: 3%;}


}

/* START BREAK POINT */
@media (min-width:930px){

    .ofertas .oferta{width: 23.5%; margin-right: 2%; padding: 2% 1%;}
    .ofertas .segunda{float: left;}
    .ofertas .quarta{float: left; margin-right: 0;}
    .icon-sociais ul li{padding: 1%;}

}

/* START POINT BREAK */
@media (min-width:1120px){
    .cabecalho{padding: 0% 15%;}
    .banner{padding: 4% 20%;}
    .atigo-01{padding: 4% 15%;}
    .titulo-ofertas{padding: 8% 15%;}
    .ofertas{padding: 5% 15%;}
    .chamada-para-acao{padding: 5% 15%;}
    .artigo-02{padding: 4% 15%;}

    .icons-banner .icon img{width: 20%;}
    .icons-banner p{padding: 5%;}
}